* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Mulish", "Arial", sans-serif;
}

.visaully-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: none;
  clip-path: rect(0 0 0 0);
}

.container {
  width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.heding {
  padding-top: 56px;
}

.heding-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  text-decoration-line: none;
}

.logo-img {
  margin-right: 475px;
}

.list-nav {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.link-nav {
  color: #1f153480;
  font-size: 18px;
  margin-right: 40px;
  text-decoration-line: none;
}

.link-nav-item {
  color: #1F1534;
}

.about-link {
  margin: 0;
}

.healt {
  display: flex;
  margin-top: 80px;
}

.healt-box {
  width: 440px;
  margin-right: 131px;
}

.healt-title {
  color: #000;
  font-size: 48px;
  margin-top: 97px;
  margin-bottom: 30px;
}

.healt-text {
  color: #7d7987;
  font-size: 21px;
  margin-top: 0;
  margin-bottom: 40px;
}

.healt-link {
  display: inline-block;
  background-color: #458ff6;
  color: #fff;
  font-size: 18px;
  padding: 16px 37px 17px;
  text-decoration-line: none;
  border-radius: 55px;
}

.services-section {
  padding-bottom: 192px;
  background-image: url("../images/logo/vectorleft.svg");
  background-repeat: no-repeat;
  background-position: calc(50% - 350px) calc(50% - 1200px);
}

.services {
  text-align: center;
}

.services-box {
  width: 952px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 287px;
}

.services-title {
  color: #000;
  font-size: 36px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 61px;
}

.services-text {
  color: #7d7987;
  font-size: 18px;
  text-align: center;
}

.services-list {
  display: flex;
  margin: 0;
  margin-top: 50px;
  margin-bottom: 40px;
  padding: 0;
  flex-wrap: wrap;
  list-style: none;
}

.services-iteam {
  width: 350px;
  margin-right: 20px;
  margin-bottom: 40px;
  padding-left: 40px;
  padding-right: 45px;
  padding-bottom: 45px;
  padding-top: 54px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 10px 40px 50px 0px #e5e9f666;
}

.services-header {
  font-size: 24px;
  margin-top: 24px;
  margin-bottom: 1px;
}

.desc {
  color: #7d7987;
  font-size: 16px;
}


.site-link {
  display: inline-flex;
  color: #458ff6;
  font-size: 18px;
  border-radius: 55px;
  border: 1.4px solid #458ff6;
  padding: 17px 51px 16px;
  text-decoration-line: none;
}

.mobile-img {
  margin-left: 7px;
}

.leading-list {
  margin-top: 213px;
  padding: 0;
  list-style: none;
}

.leading-item {
  display: flex;
  margin-right: 75px;
  margin-bottom: 250px;
}

.mobile-item {
  display: flex;
  flex-direction: row-reverse;
  margin: 0;
}

.leading-box {
  margin-top: 36px;
  width: 435px;
  margin-left: 117px;
}

.leading-title {
  font-size: 36px;
  margin-bottom: 62px;
}

.leading-text {
  color: #7d7987;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 40px;
}

.mobile {
  display: flex;
  margin-top: 250px;
}

.mobile-box {
  width: 440px;
  margin-right: 75px;
  margin-top: 30px;
}

.mobile-title {
  font-size: 36px;
  margin-bottom: 62px;
}

.mobile-text {
  color: #7d7987;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 40px;
}

.fedbek {
  width: 1180px;
  background-color: #5a98f2;
  border-radius: 24px;
  margin-top: 251px;
  padding-bottom: 73px;
}

.fedbek-title {
  color: #fff;
  font-size: 36px;
  text-align: center;
  margin-bottom: 34px;
  padding-top: 73px;
}

.artic-span {
  display: block;
  width: 59px;
  height: 2px;
  margin: 0 auto;
  border-radius: 6px;
  background-color: #fff;
}

.fedbek-people {
  display: flex;
  align-items: center;
}

.fedbek-img {
  margin-inline: 118px 31px ;
}

.people-name {
  margin-top: 52px;
  margin-left: 30px;
  margin-right: 166px;
}

.edward {
  display: block;
  color: #fff;
  font-size: 22px;
  margin-bottom: 4px;
}

.founder {
  color: #ffffffd9;
  font-size: 18px;
}

.fedbek-deck {
  width: 403px;
}

.fedbek-text {
  color: #ffffffe6;
  font-size: 19px;
}

.chesk-section {
  padding-bottom: 200px;
  background-image: url("../images/logo/vectorright.svg");
  background-repeat: no-repeat;
  background-position: calc(50% + 700px) calc(50% - 120px);
}

.chesk-box {
  text-align: center;
  margin-top: 251px;
}

.chesk-title {
  margin-top: 0;
  margin-bottom: 72px;
  font-size: 36px;
  text-align: center;
}

.chesk-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.chesk-iteam {
  background-color: #fff;
  margin-right: 20px;
  margin-bottom: 92px;
  box-shadow: 10px 40px 50px 0px #e5e9f666;
  border-radius: 20px;
}


.chesk-desk {
  width: 266px;
  margin-top: 30px;
  padding-left: 33px;
  padding-bottom: 35px;
}

.chesk-heading {
  font-size: 21px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.chesk-text {
  color: #7d7987;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 18px;
}

.check-link {
  display: inline-flex;
  color: #4089ed;
  margin-right: 14px;
  font-size: 17px;
  text-decoration-line: none;
}

.site-footer {
  background-color: #5a98f2;
  margin-top: 150px;
}

.footer-logo {
  display: flex;
}

.footer-desk {
  width: 386px;
  margin-bottom: 115px;
}

.footer-img {
  margin-top: 116px;
}

.footer-text {
  color: #fff;
  font-size: 18px;
  margin-top: 22px;
  margin-bottom: 31px;
}

.text {
  color: #fff;
  font-size: 16px;
}

.companiy {
  display: flex;
  margin-top: 116px;
  margin-left: 150px;
  margin-bottom: 149px;
}

.footer-strong {
  display: block;
  color: #fff;
  padding-bottom: 20px;
  font-size: 20px;
}

.footer-list {
  width: 120px;
  list-style: none;
  margin: 0;
  margin-right: 150px;
  padding: 0;
}

.footer-iteam {
  margin-bottom: 10px;
}

.footer-link {
  display: inline-block;
  color: #fff;
  font-size: 18px;
  text-decoration-line: none;
  
}